.address {
    margin-top: 20px;
    font-style: normal;
    &__item:not(:last-child) {
        margin-bottom: 8px;
    }
    &__group{
        @media screen and (min-width: 768px) {
            margin-left: 61px;
        }
    }
}

.address__link {
    line-height: 1.71;
    color: $white-color;

    transition: color $anim-time $animation-timing-function;
    &:hover, &:focus{
        color: $blue-color;
    }
}

.address__link--color{
    color: $link-footer-cl;
}