.social--retreat{
    align-content: center;
    margin-top: 20px;

}

.social__group {
    @media screen and (max-width: 767px) {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    @media screen and (min-width: 768px) {
        margin-left: 165px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 70px;
    }
    
}

.social__titel{
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: $white-color;
}


.footer__social{
    background-color: $bg-cl-icon-footer;
    &:hover, &:focus {
        background-color: $blue-color;
    }
}